<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Favlis</title>
  </head>
  <body>
    <div id="wrapall">

      <div id="header">
      </div><!-- header -->

      <div id="contents">

        <h1 id="title">favlis</h1>

        <form method="get" action="/search">
          <input type="text" name="query"></input>
          <input type="submit" value="search">
          <input type="radio" name="type" value="keyword" checked="checked">keyword</input>
          <input type="radio" name="type" value="tag">tag</input>
          <input type="radio" name="type" value="user">user</input>
        </form>

        <div class="wrap-statuses">
          <ol class="statuses" id="timeline">
            <% @statuses.each do |s| %>
              <li class="status">
              <span class="author">
                <img src="<%= s.profile_image_url %>" />
              </span>
              <span class="status-bosy">
                <span class="status-content">
                  <strong>
                    <a class="tweet-url screen-name" href="http://twitter.com/<%= s.from_user %>"><%= s.from_user %></a>
                  </strong>
                  <span class="entry-content">
                    <%#  @<a rel="nofollow" href="/udon_tan" class="tweet-url username">udon_tan</a> ごはんはん %>
                    <%= s.text %>
                  </span>
                </span>
                <ul>
                  <li class="faved">
                  <span>
                    <ol>
                      <% s.faved_users.each do |u| %>
                        <li><span><img src="<%= profile_image_url(u) %>" /></span></li>
                      <% end %>
                    </ol>
                  </span>
                  </li>
                  <!--
                  <li class="retweeted">
                  <%= s.retweeted_users_count %>
                  </li>
                  -->
                </ul>
              </span>
              </li>
            <% end %> 
          </ol>
        </div>
      </div><!-- contents -->

    </div><!-- wrapall -->
  </body>
</html>

